{% extends "base.html" %}
{% block content %}


<!-- *************************************************************************************************************************
                                                        Start Team Bio box
******************************************************************************************************************************* -->

    <div class="container">

        <div class="box row">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>the graybeards</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-12">
                    <p class="boxx"><strong>Team Bio:</strong> The Graybeards was originally founded by Nick and David long before computer science was on their minds, as they were part of a group project for a business foundations class years ago. Soon after, they started taking CS courses, and a study group began to emerge. It wasn't long before The Graybeards had a large number of members. The group decided to expand their name to "The Graybeard Society of Computer Science Gentlemen," but keep "The Graybeards" as a shorter nickname. Time has passed, and the group now has over 10 members, and continues to expand. Many members of The Graybeards are not featured on this website, but every member of this group is a Graybeard.</p> 
                    <hr>
                    <p class="text-center"><strong>Data:</strong> 
                    <p class="text-center"><a href="http://www.cfbdatawarehouse.com/"><strong>http://www.cfbdatawarehouse.com/</strong></a></p>
                    <p class="text-center"><a href="http://www.cfbstats.com/"><strong>http://www.cfbstats.com/</strong></a></p>
                    <p class="text-center"><a href="https://en.wikipedia.org/wiki/List_of_NCAA_Division_I_FBS_football_programs/"><strong>http://www.wikipedia.com/fbs</strong></a></p>
                        <p class="boxx"><strong>Description:</strong> The player stats were scraped from cfbstats and the team stats were scraped from cfbdatawarehouse.  Both sources of data were harvested using web scraping with the Python library Beautiful Soup by iterating through each team's and player's webpages to grab all the needed stats out of the HTML source code. Wikipedia was used for additional, small amounts of outlier data that was needed. </p>
                    <hr>
                    <p class="text-center"><strong>Total Number of Commits:</strong> 949</p>

                    <p class="text-center"><strong>Total Number of Issues:</strong> 124</p>

                    <p class="text-center"><strong>Total Number of Unit Tests:</strong> 36</p>

                    <p class="text-center"><a href="http://docs.punt.apiary.io/#"><strong>Apiary API</strong></a></p>

                    <p class="text-center"><a href="https://github.com/cameronreese/no_punt_intended/issues"><strong>GitHub Issue Tracker</strong></a></p>

                    <p class="text-center"><a href="https://github.com/cameronreese/no_punt_intended.git"><strong>Github Repo</strong></a></p>

                    <p class="text-center"><a href="https://github.com/cameronreese/no_punt_intended/wiki"><strong>Github Wiki</strong></a></p>
                    <hr>                
                <div class="clearfix"></div>
            </div>
        </div>
<!-- *************************************************************************************************************************
                                                        End Team Bio Box
******************************************************************************************************************************* -->



<!-- *************************************************************************************************************************
                                                        Start Member bios box
******************************************************************************************************************************* -->
        <div class="box row">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>

<!-- nicks row -->
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img class="img-responsive img-circle img-fix" src="{{ url_for('static', filename='img/nick.jpg') }}" alt="">
                    </div>
                    <div class="col-md-7">
                        <h3>Nick Jordan<small>  The GUI Grandmaster</small></h3>
                        
                        <p><strong>Bio:</strong> From the time he was a small child, Nick has always taken a high interest in technology. Coming out of high school, Nick earned a scholarship to play football for The University of Texas, and came to Austin with the mindset of becoming an engineer. Soon afterwards however, he realized his lack of interest in Engineering. After overseeing some school work of a friend majoring in Computer Science, Nick quickly developed an interest in this field of study. It wasn't long after joining the school of Computer Science that he realized his passion for it.  </p>
                        
                        <p><strong>Responsibilities:</strong> Nick was primarily responsible for the layout, design, and graphical user interface, front-end portions of the website. He initialized the GUI using a premade Bootstrap theme, but soon veered far from the original template code. He created the GUI template based on the conceptual layout and design of the website, and with the help from his other team mates, populated the pages with the appropriate data. Nick worked with HTML, CSS, Javascript, and Bootstrap during this work.</p>

                        <p><strong>Number of Commits:</strong> 367</p>

                        <p><strong>Number of Issues:</strong> 16</p>

                        <p><strong>Number of Unit Tests:</strong> 6</p>
                    </div>
                </div>
<hr> <br>
<!-- davids row -->
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img class="img-responsive img-circle img-fix" src="{{ url_for('static', filename='img/david.jpg') }}" alt="">
                    </div>
                    <div class="col-md-7">
                        <h3>David Sipos<small>  The Emperor of Information</small></h3>
                        
                        <p><strong>Bio:</strong> David grew up using computers through childhood, starting with the software MS-DOS and eventually Windows 3.0.  He began to build computers and became the PC guru in the family, who everyone would call when they had any issues.  As he grew older he started doing networking and IT for small companies, which piqued his interest in programming.  University of Texas offered one of the best Computer Science programs in the state and was the clear choice for his future.</p>

                        <p><strong>Responsibilities:</strong> David took on the responsibility of handling the backend for the project.  This included gathering of the data such as the team and player stats from several websites. To achieve this, the Beautiful Soup library for Python was used to effectively scrape the information programmatically from the websites for all the teams and players at one time. </p>

                        <p><strong>Number of Commits:</strong> 49</p>

                        <p><strong>Number of Issues:</strong> 19</p>

                        <p><strong>Number of Unit Tests:</strong> 7</p>
                    </div>
                </div>                
<hr> <br>
<!-- camerons row -->
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img class="img-responsive img-circle img-fix" src="{{ url_for('static', filename='img/cameron.jpg') }}" alt="">
                    </div>
                    <div class="col-md-7">
                        <h3>Cameron Reese<small>  The Archduke of API </small></h3>
                        
                        <p><strong>Bio:</strong> Cameron grew up without the internet or television. His first exposure to anything CS was the Mac Classic he inherited from his parents. When the internet was created it was not available, so Cameron created static html pages for his own internet-like experience. After a productive time with the Marine Corps, Cameron pursued a CS degree at UT Austin, and has been coding his way to a new career ever since.</p>

                        <p><strong>Responsibilities:</strong> Cameron took on creating and implementing the APIs, creating and managing the webserver, documenting the APIs via apiary, maintaining the unit tests, and managing collaboration. </p>

                        <p><strong>Number of Commits:</strong> 215</p>

                        <p><strong>Number of Issues:</strong> 39</p>

                        <p><strong>Number of Unit Tests:</strong> 9</p>
                    </div>
                </div>   
<hr> <br>
<!-- chrises row -->
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img class="img-responsive img-circle img-fix" src="{{ url_for('static', filename='img/chris.jpg') }}" alt="">
                    </div>
                    <div class="col-md-7">
                        <h3>Chris LeSage<small> The Bootstrap Baron</small></h3>
                        
                        <p><strong>Bio:</strong> Chris LeSage is a Senior at Univeristy of Texas who is pursuing a Bachelors of Science and Arts Degree in Computer Science. He enjoys to play soccer, football, and play video games in his spare time. He is also currently working on his beard...</p>
                        
                        <p><strong>Responsibilities:</strong> Chris works on front end data manager, data tables, and data read in from API which populate the pages on the website with the appropriate data. He also helps with Bootstrap and website layout.</p>

                        <p><strong>Number of Commits:</strong> 89</p>

                        <p><strong>Number of Issues:</strong> 21</p>

                        <p><strong>Number of Unit Tests:</strong> 7</p>

                    </div>
                </div>
<hr> <br>
<!-- joshes row -->
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img class="img-responsive img-circle img-fix" src="{{ url_for('static', filename='img/josh.jpg') }}" alt="">
                    </div>
                    <div class="col-md-7">
                        <h3>Josh Waller<small>  The Duke of Databasing</small> </h3>
                        
                        <p><strong>Bio:</strong> Joshua spent most of his childhood believing he would attend Oklahoma State University with two degrees in Electrical Engineering and Computer Science. He is an avid sports fan due to his continuous participation in sports growing up. When he reached his senior year, he decided to continue playing baseball at North Central Texas College instead of going to his desired school OSU. Unfortunately after he tore his labrum in his shoulder, Joshua quit baseball and began to scope out potential schools to attend. Luckily, a close friend from childhood led him to venture away from OSU and informed him about the excellent academia that The University of Texas had to offer. Though his heart was torn on the decision, he enrolled in the Computer Science program at UT. Joshua believes he wants to enter the field of DBA or become a Data Scientist.</p>
                        
                        <p><strong>Responsibilities:</strong> Joshua obtained the responsibility of creating the database for the project. He will interact with David Sipos on extracting the data in the correct format to populate the tables in the database. Joshua will utilize SQLAlchemy and MySQL to implement the database.</p>

                        <p><strong>Number of Commits:</strong> 30</p>

                        <p><strong>Number of Issues:</strong> 29</p>

                        <p><strong>Number of Unit Tests:</strong> 7</p>
                    </div>
                </div>
<hr> <br>
                <div class="clearfix"></div>
            </div>
    </div>

<!-- *************************************************************************************************************************
                                                        End Member Bio Box
******************************************************************************************************************************* -->



<!-- *************************************************************************************************************************
                                                        Start Unit Test box
******************************************************************************************************************************* -->

    <div class="container">
        <div class="box row">
            <div class="col-lg-12 text-center" href="/unittest">
                <hr> 
                <h2 class="intro-text text-center">Unit <strong>Tests</strong></h2>
                <hr>
                <a type="button" class="btn btn-primary" href="/unittest"><strong>Run Our Unit Tests</strong></a>
                <br>
                <br>
            </div>
        </div>
    </div>
<!-- *************************************************************************************************************************
                                                        End Unit Test Box
******************************************************************************************************************************* -->


{% endblock %}