{% extends "base.html" %}
{% block content %}

<!-- *************************************************************************************************************************
                                                        Start team Box
******************************************************************************************************************************* -->
    <div class="container">
        <div class="box row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <hr>
                        <h2 class="intro-text text-center">FBS <strong>conferences</strong> </h2>
                    <hr>
                        {% for conf in confList %}
                                <div class="col-lg-3 col-md-4 col-sm-6 text-center goodness">
                                    <script> document.write('<a href="http://cfdb.me:5000/conf_t/' + "{{conf.name}}" + '"');</script>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​><h6 class="conf-text"> {{conf.name}} </h6></a> 

                                    {% for team in conf.teamset %}
                                        <script> document.write('<a href="http://cfdb.me:5000/team_t/' + "{{team.name}}" + '"');</script>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​><h6 class="team-text text-center"> <strong>{{team.name}}</strong></h6></a>
                                    {% endfor %}
                                </div>
                        {% endfor %}

                </div>
        </div>
    </div>
<!-- *************************************************************************************************************************
                                                        End team Box
******************************************************************************************************************************* -->

{% endblock %}